



// certifikat orqasiga #1c313a
// // h2 va h1 larga rgb(255,255,255)
// // p larga #e5e5d3

// https://www.smashingmagazine.com/2014/02/create-client-side-shopping-cart/

a:hover {
    text-decoration: underline 2px gold;
    transition: 0.1s ease;
}



.home {
    padding: 180px 0 70px 0;
}




.kap-remont {
    padding: 70px 0px 80px 0px;
}


.about {
    padding: 100px 0px 100px 0px;
}


.certificate {
    padding: 70px 0px 80px 0px;
} 
/*h2 {
    position: relative;
    line-height: 1.2em;
}
h2:before {
    position: absolute;
    left: 620px;
    top: 1.2em;
    height: 0;
    width: 350px;
    content: '';
    border-top: 2px solid black;
}
}

.img-paragraph {
    position: relative;
    bottom: 25%;
    left: 10%;
    font-size: 80px;
    margin-left: 80px;
    max-width: 300px;
    line-height: 60px;
} */



.certificate-row2 {
    padding-top: 50px;
}

.our-services {
    padding: 60px 0px 70px 0px;
}

.our-services .card-body, .carousel-item1 {
    transition: all .3s ease;
}
.our-services .card-body, .carousel-item1:hover {
    box-shadow: 0px 0px 10px rgba(33,33,33.2);
}


.our-services .card, .carousel-item1 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6rbdtWJj9Sy0slaWxZcbeBnwiDsk_TqRbpA&usqp=CAU);
}


.btn-warning1 {
    margin-top: 70px;
} 


.gallery-work {
    padding: 60px 0px 60px 0px;
}

.gallery-work img {
    transition: all .2s ease-in-out;
}

.gallery-work img:hover {
    transform: scale(1.1);
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
